{%- extends 'documents/Generic/certificate_BE.html' -%}

{% block html_head %}
    {% set document_code = '%s.CERT.nl_BE'|format(productcode) %}
    {% include 'includes/html_head_nl_BE.html' %}
    <meta name="print-title" content="Certificaat Boutique 23"/>
{% endblock %}

{% block cert_title %}Certificaat Boutique 23{% endblock %}
{% block cert_subtitle %}Levensverzekering tak 23 - boutiqueformule{% endblock %}
{% block cert_number_label %}Certificaatnummer{% endblock %}
{% block packages_label %}Onderschreven pakketten{% endblock %}
{% block pkg_code %}Code{% endblock %}
{% block pkg_name %}Naam{% endblock %}
{% block pkg_premium %}Premie{% endblock %}

{% block cert_intro %}
<p>Hierbij bevestigen wij de inschrijving van {{ subscriber.full_name }} voor de hieronder vermelde Boutique 23 pakketten.</p>
{% endblock %}

{% block cert_footer %}
<p class="small">Dit certificaat is geldig vanaf {{ certificate.start_date | format_date }} en is eigendom van de verzekeringnemer.</p>
{% endblock %}
