{%- extends 'documents/Generic/av_nl_BE.html' -%}

{% block av_definitions %}
{{ super() }}
<dl>
    <dt>Verzekerde</dt><dd>De persoon op wiens leven de verzekering is afgesloten.</dd>
    <dt>Premie</dt><dd>Het bedrag dat de verzekeringnemer betaalt om dekking te bekomen.</dd>
    <dt>Reserve</dt><dd>Het opgebouwde tegoed binnen de verzekeringsovereenkomst.</dd>
</dl>
{% endblock %}

{% block av_obligations %}
<h2>4. Verplichtingen specifiek voor levensverzekering</h2>
<p>De verzekeringnemer betaalt de premie volgens de overeengekomen modaliteiten.
Bij overlijden van de verzekerde wordt de uitkering aan de begunstigde uitgekeerd, na ontvangst van de nodige bewijsstukken.</p>
{% endblock %}
