{# Base REGData partagee (variante FR). Memes blocks que la version NL. #}
{%- import 'macros/html.html' as html with context -%}

{% block html_head %}
    {% include 'includes/html_head_fr_BE.html' %}
{% endblock %}

{% call html.render_table(class="regdata") %}
    <tr><td class="label">Fonds</td><td>{% block fund_name %}{% endblock %}</td></tr>
    <tr><td class="label">Code du fonds</td><td>{% block fund_code %}{% endblock %}</td></tr>
    <tr><td class="label">ISIN</td><td>{% block isin %}{% endblock %}</td></tr>
    <tr><td class="label">Gestionnaire du fonds</td><td>{% block manager %}{{ fund_manager|default('-') }}{% endblock %}</td></tr>
    <tr><td class="label">Compartiment</td><td>{% block compartment %}{{ compartment|default('-') }}{% endblock %}</td></tr>
    {% block extra_rows %}{% endblock %}
{% endcall %}
