{# Base SIData partagee (variante FR). Memes blocks que la version NL
   (sidata_ng_base_nl_BE.html): fund_name, sri, ongoing_costs, extra_rows. #}
{%- import 'macros/html.html' as html with context -%}

{% block html_head %}
    {% include 'includes/html_head_fr_BE.html' %}
{% endblock %}

{% call html.render_table(class="sidata") %}
    <tr><td class="label">Fonds</td><td>{% block fund_name %}{% endblock %}</td></tr>
    <tr><td class="label">Classe de risque (SRI)</td><td>{% block sri %}{{ sri_class|default('-') }}{% endblock %}</td></tr>
    <tr><td class="label">Frais courants</td><td>{% block ongoing_costs %}{{ ongoing_costs|default(0)|format_percentage }}{% endblock %}</td></tr>
    {% block extra_rows %}{% endblock %}
{% endcall %}
